* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1440px;
	margin: auto;
	background-color: #F7F7F7;
}

.addsBlok {
	margin-bottom: 32px;
}

.wrapper {
	width: 1408px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000000;
	border-radius: 10px;
}

.header-logo {
	width: 25.95%;
	padding: 14px 0 14px 24px;
}

.header-middle {
	width: 41.2%;
}

.header-inp {
	background: #302C2C;
	border-radius: 10px;
	border: 0;
	width: 100%;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: 540px 10px;
	padding: 14px 56px 14px 16px;
	color: #FFFFFF;
}

.header-lists {
	display: flex;
	align-items: center;
}

.lists-list {
	display: flex;
	align-items: center;
}

.lists-list p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
}

.header-list-first_p {
	padding: 0 64px 0 12px;
}

.header-list-second_p {
	padding: 0 24px 0 12px;
}

.header-inp:focus {
	outline: none;
	border: 1px solid black;
}

.secondBlok {
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.secondBlok-box1 {
	background: #000000;
	border: 2px solid #000000;
	border-radius: 8px;
	padding: 12px 20px;
}

.secondBlok-box1 a {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #FFFFFF;
	text-decoration: none;
}

.secondBlok-box2 {
	background: #FFFFFF;
	border: 2px solid #808080;
	border-radius: 8px;
	padding: 12px 20px;
}

.secondBlok-box2 a {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #808080;
	text-decoration: none;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
	display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  transition: .4s;
	background-image: url(../images/sb-switch-night.png);
	background-repeat: no-repeat;
	background-position: 37px 9px;
	background-size: 12px 14px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
	background-image: url(../images/sb-switch-day.png);
	background-repeat: no-repeat;
	background-position: 7px 10px;
	background-size: 13px 13px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.thirdBlok {
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.thirdBlok-firstB {
	background: #FFFFFF;
	border-radius: 10px;
	width: 22.75%;
}


.tb-fb-top img {
	padding: 12px 12px 0 12px;
}

.tb-fb-top-h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 110%;
	font-feature-settings: 'liga' off;
	color: #000000;
	padding: 0 12px 12px 16px;
}

.tb-fb-bottom {
	display: flex;
}

.thirdBlok-firstB a {
	text-decoration: none;
}

.bot-left img {
	padding: 0 12px 8px 16px;
}

#bot-left-lstimg {
	padding: 0 12px 14px 16px;
}

.steppe_tag {
	background: #93FF82;
	border: 1px solid #000000;
	border-radius: 6px;
	width: 100px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: -0.019em;
	color: #000000;
	padding: 4px 8px;
}

.bot-right-p2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	width: 204px;
	line-height: 120%;
	font-feature-settings: 'liga' off;
	color: #000000;
	padding: 4px 0 0 4px;
}

.thirdBlok-secondB {
	width: 52.3%;
	background: #FFFFFF;
	border-radius: 10px;
}

.thirdBlok-secondB img {
	padding: 16px;
}

.thirdBlok-secondB h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 110%;
	font-feature-settings: 'liga' off;
	color: #000000;
	padding: 0 0 28px 16px;
}

.thirdBlok-thirdB {
	background: #FFFFFF;
	border-radius: 10px;
	width: 22.75%;
	height: 507.6px;
	overflow-y: scroll;
	
}

.thirdBlok-thirdB::-webkit-scrollbar {
    width: 4px;
}
 
.thirdBlok-thirdB::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 100px;
}
 
.thirdBlok-thirdB::-webkit-scrollbar-thumb {
    background-color: #9C9CFF;
    border-radius: 100px;
}

.thirdthird-p1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 120%;
	color: #000000;
	padding: 12px 0 12px 16px;
}

.line-tb {
	border: 1px solid #E3E3E3;
	width: 88.7%;
	margin: auto;
}

.news-tb {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	text-transform: lowercase;
	font-feature-settings: 'liga' off;
	color: #000000;
	padding: 12px 0 30px 16px;
}

.clr-tb {
	color: #777777;
}


.fourthBlok {
	display: flex;
	justify-content: space-between;
	padding-bottom: 24px;
}

.fourthblok-card {
	width: 32.7%;
}

.fb-card-top {
	margin-bottom: -4px;
}

.fb-card-bottom {
	background: #000000;
	border-radius: 10px;
}

.fb-card-bottom h2 {
	width: 81.7%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 110%;
	font-feature-settings: 'liga' off;
	color: #FFFFFF;
	padding: 16px 0 43px 16px;
}

.fb-card-bottom-p {
	width: 81.7%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: -0.019em;
	color: #FFFFFF;
	padding: 0 0 16px 16px;
}

.fb-card-bottom-bottom {
	display: flex;
	align-items: center;
}

.bot-bot-p1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	font-feature-settings: 'liga' off;
	color: #FFFFFF;
	padding: 0 13px 16px 16px;
}

.bot-bot-img {
	padding-bottom: 16px;
}

.bot-bot-p2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	font-feature-settings: 'liga' off;
	color: #FFFFFF;
	padding: 0 0 16px 5px;
}


