* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1440px;
	margin: auto;
	background-color: #F7F7F7;
}

.addsBlok {
	margin-bottom: 32px;
}

.wrapper {
	width: 1408px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000000;
	border-radius: 10px;
}

.header-logo {
	width: 25.95%;
	padding: 14px 0 14px 24px;
}

.header-middle {
	width: 41.2%;
}

.header-inp {
	background: #302C2C;
	border-radius: 10px;
	border: 0;
	width: 100%;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: 540px 10px;
	padding: 14px 56px 14px 16px;
	color: #FFFFFF;
}

.header-lists {
	display: flex;
	align-items: center;
}

.lists-list {
	display: flex;
	align-items: center;
}

.lists-list p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
}

.header-list-first_p {
	padding: 0 64px 0 12px;
}

.header-list-second_p {
	padding: 0 24px 0 12px;
}

.header-inp:focus {
	outline: none;
	border: 1px solid black;
}

.secondBlok {
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.secondBlok-box1 {
	background: #000000;
	border: 2px solid #000000;
	border-radius: 8px;
	padding: 12px 20px;
}

.secondBlok-box1 a {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #FFFFFF;
	text-decoration: none;
}

.secondBlok-box2 {
	background: #FFFFFF;
	border: 2px solid #808080;
	border-radius: 8px;
	padding: 12px 20px;
}

.secondBlok-box2 a {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #808080;
	text-decoration: none;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
	display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  transition: .4s;
	background-image: url(../images/sb-switch-night.png);
	background-repeat: no-repeat;
	background-position: 37px 9px;
	background-size: 12px 14px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
	background-image: url(../images/sb-switch-day.png);
	background-repeat: no-repeat;
	background-position: 7px 10px;
	background-size: 13px 13px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}